<% @questions.each do |question| %>
  <div class="card mb-4">
    <div class="card-header">
      <h3 class="card-title"><%= question.description %></h3>
    </div>
    <div class="card-body">
      <div class="card-content">
        <ul>
          <% question.answers.each do |answer| %>
            <li>
              <h5><%= answer.description %></h5>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center">
    <%= paginate @questions %>
</div>