/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');

 body {
  background: linear-gradient(to right, #242a38, #4E586E 50%, #242a38);
}

.text-white {
  color: #fff; /* ou qualquer outra cor branca desejada */
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #c53e66, #82183e, #82183e);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #c53e66, #82183e, #82183e);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  .card-header {
    border-bottom: 1px solid #ddd;
  }
  .card-title {
    margin: 0;
    font-size: 1.25rem;
  }
  .card-content {
    border-top: 1px solid #ddd;
    margin-top: 1rem;
    padding-top: 1rem;
  }

/* Navigation left side */
.sidebar {
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  background-color: #b32727; /* Cor de fundo preta */
}

.sidebar .nav-link {
  color: #fff; /* Cor do texto branco */
}

.sidebar .profile img {
  border: 2px solid #ddd;
  padding: 5px;
}

.main-content {
  margin-left: 16.6667%; /* Espaço correspondente à largura da sidebar (col-md-2) */
  padding: 20px; /* Adiciona um pouco de padding para o conteúdo principal */
}

/* Estilos para mensagens de sucesso (notice) */
.flash.notice {
  color: #cdd3cf; /* Cor do texto */
  background-color: #d4edda; /* Cor de fundo */
  border-color: #c3e6cb; /* Cor da borda, se aplicável */
}

/* Estilos para mensagens de erro (alert) */
.flash.alert {
  color: #1c7220;
  background-color: #cce989;
  border-color: #f5c6cb;
}

.devthree-link {
    color: #130505; /* Cor vermelha, você pode substituir pela cor desejada */
    text-decoration: none; /* Remove sublinhado padrão */
  }

  .devthree-link:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
  }

// sidenavibar
  .custom-sidebar {
    width: 190px; /* ajuste o valor conforme necessário */
  }
  
  .custom-sidebar .nav-link {
    font-size: 0.9rem; /* ajuste o tamanho da fonte conforme necessário */
  }
  
  .custom-sidebar img {
    width: 80px; /* ajuste o tamanho da imagem conforme necessário */
    height: 60px; /* ajuste o tamanho da imagem conforme necessário */
  }
  